

body {
	color:#525252;
}

h1, h2, h3, h4, h5, h6 {
	color:#282828;
}

h3 {
	color:#1A1A1A;
}


/* NAVBAR */

.navbar-custom {
	background:#FFFFFF;
}

.navbar-custom a {
	color:#282828;
}

.navbar-custom .navbar-nav > li > a:hover {
	color:#1A1A1A;
}

.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
	color:#F7BD2F;
}

.navbar-custom .icon-bar {
	background:#F7BD2F;
}


/* TOP */

#top {
	color:#FFFFFF;
	background: -webkit-linear-gradient(#FF9500, #FED02F); 
	background: -o-linear-gradient(#FF9500, #FED02F); 
	background: -moz-linear-gradient(#FF9500, #FED02F); 
	background: -ms-linear-gradient(#FF9500, #FED02F); 
	background: linear-gradient(#FF9500, #FED02F); 
}


/* INFO */

#info {
	background:#F7F7F7;
}

/* FEATURES 1 */

#features-1  .feature i {
	color:#F7BD2F;
}

#slider-features-1  .feature i {
	color:#F7BD2F;
}


/* TEAM */

#team {
	background:#f7f7f7;
}

#team .title {
	color:#FED02F;
}

#team .social li a {
	color:rgba(255, 94, 58, 0.7);
}

#team .social li a:hover {
	color:rgba(255, 94, 58, 1);
}


/* TESTIMONIAL */

.bubble {
	background: #F7F7F7;
}

.bubble:after {
	border-color: #F7F7F7 transparent;
}


#testimonial .person .company {
	color:#FF5E3A;
}

.owl-theme .owl-controls .owl-page span{
	background: #FF5E3A;
}


/* FOOTER */

footer {
	color:#FFFFFF;
	background: -webkit-linear-gradient(#FF9500, #FED02F); 
	background: -o-linear-gradient(#FF9500, #FED02F); 
	background: -moz-linear-gradient(#FF9500, #FED02F); 
	background: -ms-linear-gradient(#FF9500, #FED02F); 
	background: linear-gradient(#FF9500, #FED02F); 
	border-top:1px solid #FF5E3A;
}

footer .social li i {
	color:rgba(255,255,255, 0.7);
}

footer .social li i:hover {
	color:rgba(255,255,255, 1);
}


/* MISC. */



/* BUTTONS */


.button-light {
	color:#FFFFFF;
	background:transparent;
	border:2px solid #FFFFFF;
}

.button-light:hover,
.button-light:active {
	color: #FDBF39;
	background: #FFFFFF;
}

.button-dark {
	color: #FDBF39;
	background: rgba(255,255,255, 0.2);
	border:2px solid rgba(255,255,255, 0.9);
}

.button-dark:hover,
.button-dark:active {
	color: #FDBF39;
	background: rgba(255,255,255, 1);
}


/* Color */

.gradient {
 	background: -webkit-linear-gradient(#FF9500, #FED02F); 
	background: -o-linear-gradient(#FF9500, #FED02F); 
	background: -moz-linear-gradient(#FF9500, #FED02F); 
	background: -ms-linear-gradient(#FF9500, #FED02F); 
	background: linear-gradient(#FF9500, #FED02F); 
}

.icon i {
	color:rgba(255,255,255,0.80);
}

.icon {
	color:rgba(255,255,255,0.85);
}
