

body {
	color:#525252;
}

h1, h2, h3, h4, h5, h6 {
	color:#282828;
}

h3 {
	color:#1A1A1A;
}


/* NAVBAR */

.navbar-custom {
	background:#FFFFFF;
}

.navbar-custom a {
	color:#282828;
}

.navbar-custom .navbar-nav > li > a:hover {
	color:#1A1A1A;
}

.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
	color:#1D62F0;
}

.navbar-custom .icon-bar {
	background:#1D62F0;
}


/* TOP */

#top {
	color:#FFFFFF;
	background: -webkit-linear-gradient(#1AD6FD, #1D62F0); 
	background: -o-linear-gradient(#1AD6FD, #1D62F0); 
	background: -moz-linear-gradient(#1AD6FD, #1D62F0); 
	background: -ms-linear-gradient(#1AD6FD, #1D62F0); 
	background: linear-gradient(#1AD6FD, #1D62F0); 
}


/* INFO */

#info {
	background:#F7F7F7;
}

/* FEATURES 1 */

#features-1  .feature i {
	color:#1D62F0;
}

#slider-features-1  .feature i {
	color:#1D62F0;
}


/* TEAM */

#team {
	background:#f7f7f7;
}

#team .title {
	color:#1D62F0;
}

#team .social li a {
	color:rgba(29, 98, 240, 0.7);
}

#team .social li a:hover {
	color:rgba(29, 98, 240, 1);
}


/* TESTIMONIAL */

.bubble {
	background: #F7F7F7;
}

.bubble:after {
	border-color: #F7F7F7 transparent;
}


#testimonial .person .company {
	color:#1D62F0;
}

.owl-theme .owl-controls .owl-page span{
	background: #1D62F0;
}


/* FOOTER */

footer {
	color:#FFFFFF;
	background: -webkit-linear-gradient(#1AD6FD, #1D62F0); 
	background: -o-linear-gradient(#1AD6FD, #1D62F0); 
	background: -moz-linear-gradient(#1AD6FD, #1D62F0); 
	background: -ms-linear-gradient(#1AD6FD, #1D62F0); 
	background: linear-gradient(#1AD6FD, #1D62F0); 
	border-top:1px solid #1D62F0;
}

footer .social li i {
	color:rgba(255,255,255, 0.7);
}

footer .social li i:hover {
	color:rgba(255,255,255, 1);
}


/* MISC. */



/* BUTTONS */


.button-light {
	color:#FFFFFF;
	background:transparent;
	border:2px solid #FFFFFF;
}

.button-light:hover,
.button-light:active {
	color: #1D62F0;
	background: #FFFFFF;
}

.button-dark {
	color: #1D62F0;
	background: rgba(255,255,255, 0.8);
	border:2px solid rgba(255,255,255, 0.9);
}

.button-dark:hover,
.button-dark:active {
	color: #1D62F0;
	background: rgba(255,255,255, 1);
}


/* Color */

.gradient {
 	background: -webkit-linear-gradient(#1AD6FD, #1D62F0); 
	background: -o-linear-gradient(#1AD6FD, #1D62F0); 
	background: -moz-linear-gradient(#1AD6FD, #1D62F0); 
	background: -ms-linear-gradient(#1AD6FD, #1D62F0); 
	background: linear-gradient(#1AD6FD, #1D62F0); 
}

.icon i {
	color:rgba(255,255,255,0.80);
}

.icon {
	color:rgba(255,255,255,0.85);
}
