

/* IMAGE BACKGROUND */

#top {
	color: #ffffff;
	background: url('../../img/landing/top-bg.jpg') no-repeat fixed center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}