@font-face {
    font-family: 'latothin';
    src: url('../../fonts/landing/lato-thin.eot');
    src: url('../../fonts/landing/lato-thin.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-thin.woff') format('woff'),
         url('../../fonts/landing/lato-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/landing/lato-light.eot');
    src: url('../../fonts/landing/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-light.woff') format('woff'),
         url('../../fonts/landing/lato-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/landing/lato-regular.eot');
    src: url('../../fonts/landing/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-regular.woff') format('woff'),
         url('../../fonts/landing/lato-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('../../fonts/landing/lato-medium.eot');
    src: url('../../fonts/landing/lato-medium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-medium.woff') format('woff'),
         url('../../fonts/landing/lato-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/landing/lato-semibold.eot');
    src: url('../../fonts/landing/lato-semibold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-semibold.woff') format('woff'),
         url('../../fonts/landing/lato-semibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../../fonts/landing/lato-bold.eot');
    src: url('../../fonts/landing/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-bold.woff') format('woff'),
         url('../../fonts/landing/lato-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy';
    src: url('../../fonts/landing/lato-heavy.eot');
    src: url('../../fonts/landing/lato-heavy.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-heavy.woff') format('woff'),
         url('../../fonts/landing/lato-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../../fonts/landing/lato-black.eot');
    src: url('../../fonts/landing/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-black.woff') format('woff'),
         url('../../fonts/landing/lato-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latothin_italic';
    src: url('../../fonts/landing/lato-thinitalic.eot');
    src: url('../../fonts/landing/lato-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-thinitalic.woff') format('woff'),
         url('../../fonts/landing/lato-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../../fonts/landing/lato-lightitalic.eot');
    src: url('../../fonts/landing/lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-lightitalic.woff') format('woff'),
         url('../../fonts/landing/lato-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../../fonts/landing/lato-italic.eot');
    src: url('../../fonts/landing/lato-italic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-italic.woff') format('woff'),
         url('../../fonts/landing/lato-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium_italic';
    src: url('../../fonts/landing/lato-mediumitalic.eot');
    src: url('../../fonts/landing/lato-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-mediumitalic.woff') format('woff'),
         url('../../fonts/landing/lato-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latosemibold_italic';
    src: url('../../fonts/landing/lato-semibolditalic.eot');
    src: url('../../fonts/landing/lato-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-semibolditalic.woff') format('woff'),
         url('../../fonts/landing/lato-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('../../fonts/landing/lato-bolditalic.eot');
    src: url('../../fonts/landing/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-bolditalic.woff') format('woff'),
         url('../../fonts/landing/lato-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoheavy_italic';
    src: url('../../fonts/landing/lato-heavyitalic.eot');
    src: url('../../fonts/landing/lato-heavyitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-heavyitalic.woff') format('woff'),
         url('../../fonts/landing/lato-heavyitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack_italic';
    src: url('../../fonts/landing/lato-blackitalic.eot');
    src: url('../../fonts/landing/lato-blackitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-blackitalic.woff') format('woff'),
         url('../../fonts/landing/lato-blackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline';
    src: url('../../fonts/landing/lato-hairline.eot');
    src: url('../../fonts/landing/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-hairline.woff') format('woff'),
         url('../../fonts/landing/lato-hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../../fonts/landing/lato-hairlineitalic.eot');
    src: url('../../fonts/landing/lato-hairlineitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/landing/lato-hairlineitalic.woff') format('woff'),
         url('../../fonts/landing/lato-hairlineitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}














