/* CORE CSS */

body {
    color: #525252;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: normal;
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #282828;
    font-family: 'Lato', sans-serif;;
    font-weight: 300;
}

h2 {
    font-size: 28px;
}

h3 {
    color: #1A1A1A;
    font-weight: 400;
}

.lead {
    font-family: 'Lato', sans-serif;;
}

section {
    padding: 70px 0;
}

.uppercase {
    text-transform: uppercase;
}

.no-padding {
    padding: 0;
}

/* NAVBAR */

.navbar-custom {
    font-family: 'Lato', sans-serif;;
    font-size: 17px;
    font-weight: 400;
    background: #FFFFFF;
    margin-bottom: 0;
    padding: 20px 0;
    border-radius: 0;
    z-index: 1041;
    width: 100%;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-custom a {
    color: #282828;
}

.navbar-custom .navbar-nav > li > a:hover {
    color: #1A1A1A;
    background: transparent;
}

.navbar-custom .navbar-nav > li > a:active,
.navbar-custom .navbar-nav > li > a:focus {
    color: #FF2A68;
    background: transparent;
}

.navbar-custom .icon-bar {
    background: #FF2A68;
}

/* TOP */

#top {
    color: #FFFFFF;
    background: url(../img/logo.png);
    background: -webkit-linear-gradient(#FF5E3A, #FF2A68);
    background: -o-linear-gradient(#FF5E3A, #FF2A68);
    background: -moz-linear-gradient(#FF5E3A, #FF2A68);
    background: -ms-linear-gradient(#FF5E3A, #FF2A68);
    background: linear-gradient(#FF5E3A, #FF2A68);
    height: 500px;
    margin-top: 90px;
    display: inline-block;
    width: 100%;
}

#top .logo {
    margin-top: 3em;
}

.tp-banner {
    margin-top: 90px;
    display: block;
    position: relative;
    height: 500px;
}

.tp-banner ul {
    padding-left: 0;
}

#top-video .logo {
    margin-top: 5em;
}

#top-video {
    background: #1c1c1c;
    margin-top: 90px;
    padding: 0;
    display: inline-block;
    width: 100%;
    max-height: 500px !important;
}

.video {
    position: absolute;
    width: 100%;
    height: 500px;
}

#video {
    max-height: 500px !important;
    display: inline-block;
}

/* FEATURES 1 */

#features-1 {
    padding-top: 0;
}

#features-1 .feature {
    margin: 70px 0;
}

#slider-features-1 {
    padding-top: 140px;
}

#slider-features-1 .feature {
    margin: 70px 0;
}

/* INFO */

#info {
    background: #F7F7F7;
    margin: 70px 0;
}

/* FEATURES 2 */

#features-2 .feature {
    margin: 110px 0 70px 0;
}

/* TEAM */

#team {
    background: #f7f7f7;
}

#team .member {
    margin-bottom: 10px;
}

#team h2 {
    margin-bottom: 0;
}

#team .title {
    color: #FF2A68;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}

#team .social li a {
    color: rgba(255, 42, 104, 0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#team .social li a:hover {
    color: rgba(255, 42, 104, 1);
}

/* TESTIMONIAL */

#testimonial {
    padding: 100px 0;
}

#testimonial-slider .item {
    display: block;
    margin: 0 10px;
}

.bubble {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background: #F7F7F7;
    line-height: 1.6;
    margin-bottom: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #F7F7F7 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    bottom: -15px;
    left: 50px;
}

#testimonial .person div {
    float: left;
}

#testimonial .person h4 {
    margin-bottom: 0;
}

#testimonial .person img {
    margin: 0 15px;
    float: left;
    left: 15%;
}

#testimonial .person .company {
    color: #FF2A68;
    font-family: 'Lato', sans-serif;;
    font-size: 12px;
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #FF2A68;
}

/* FOOTER */

footer {
    color: #FFFFFF;
    background: -webkit-linear-gradient(#FF5E3A, #FF2A68);
    background: -o-linear-gradient(#FF5E3A, #FF2A68);
    background: -moz-linear-gradient(#FF5E3A, #FF2A68);
    background: -ms-linear-gradient(#FF5E3A, #FF2A68);
    background: linear-gradient(#FF5E3A, #FF2A68);
    padding: 50px 0 25px 0;
    border-top: 1px solid #FF2A68;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    margin-top: 30px;
}

footer .social li i {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer .social li i:hover {
    color: rgba(255, 255, 255, 1);
}

/* MISC. */

/* FORM ELEMENTS */

input[type="text"],
input[type="email"],
select,
textarea {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 30px;
    padding: 12px 10px;
    border-radius: none;
    border: 2px solid #FFFFFF;
    margin-bottom: 20px;
    outline: none;
}

/* BUTTONS */

.button-small {
    padding: 5px 12px;
    font-size: 13px;
}

.button-big {
    padding: 8px 18px;
    font-size: 21px;
}

.button-light {
    color: #FFFFFF;
    background: transparent;
    border: 2px solid #FFFFFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-light:hover,
.button-light:active {
    color: #FF2A68;
    background: #ffffff;
    text-decoration: none;
}

.button-dark {
    color: #FF2A68;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.9);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button-dark:hover,
.button-dark:active {
    color: #FF2A68;
    background: rgba(255, 255, 255, 1);
    text-decoration: none;
}

/* PRELOAD */

#preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: table;
}

#preload .svg {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#preload .logo {
    display: block;
    margin: 0 auto;
}

#preload .preload {
    width: 50px;
    height: auto;
}

/* Color */

.gradient {
    background: -webkit-linear-gradient(#FF5E3A, #FF2A68);
    background: -o-linear-gradient(#FF5E3A, #FF2A68);
    background: -moz-linear-gradient(#FF5E3A, #FF2A68);
    background: -ms-linear-gradient(#FF5E3A, #FF2A68);
    background: linear-gradient(#FF5E3A, #FF2A68);
}

.icon i {
    color: rgba(255, 255, 255, 0.80);
    display: table-cell;
    vertical-align: middle;
}

.icon {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    text-shadow: 0 0.025em 0.025em rgba(0, 0, 0, 0.2);
    background: repeat-x 0 0;
    display: table;
    text-align: center;
    margin: 0 auto;
}
