@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('quattrocentosans-regular.eot');
    src: url('quattrocentosans-regular.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-regular.woff') format('woff'),
         url('quattrocentosans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quattrocento_sansbold';
    src: url('quattrocentosans-bold.eot');
    src: url('quattrocentosans-bold.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-bold.woff') format('woff'),
         url('quattrocentosans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quattrocento_sansitalic';
    src: url('quattrocentosans-italic.eot');
    src: url('quattrocentosans-italic.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-italic.woff') format('woff'),
         url('quattrocentosans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quattrocento_sansbold_italic';
    src: url('quattrocentosans-bolditalic.eot');
    src: url('quattrocentosans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-bolditalic.woff') format('woff'),
         url('quattrocentosans-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}